<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link rel="stylesheet" href="/css/create_room.css"/>
</head>
<body>
    <div class="container">

        <div id="nav">
            Messenger System
        </div>

        <div id="content">
            <form action="/create_room_process" method="post">
                <input class="input" name="title" type="text" placeholder="title"/>
                <input class="input" name="number" type="text" placeholder="number"/>
                <input class="input" name="password" type="password" placeholder="password"/>
                <button id="btn" type="Submit">Create Room</button>
                <div id="enter"></div>
            </form>
        </div>
    </div>
    <script src='/socket.io/socket.io.js'></script>
    <script>
        var socket = io.connect('http://localhost:9004/room', {
            path: '/socket.io'
        });
        socket.on('newRoom', function(data) {
        });
        socket.on('removeRoom', function(data) {
            
        });
    </script>
</body>