<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
    <div class="container">
        <div id="nav">
            Messenger System
        </div>
        <div id="content">
            <table id="table">
                <tr>
                    <th>Title</th>
                    <th>Kind</th>
                    <th>Number</th>
                    <th>Owner</th>
                </tr>
                <tr>
                    <td>Studying Node</td>
                    <td>Private</td>
                    <td>4</td>
                    <td>Yologrammer</td>
                    <td class="enter_btn_wrapper"><button class="enter_btn">Enter</button></td>
                </tr>
                <tr>
                    <td>EPL Preview</td>
                    <td>Public</td>
                    <td>10</td>
                    <td>Ronaldo</td>
                    <td class="enter_btn_wrapper"><button class="enter_btn">Enter</button></td>
                </tr>
                <tr>
                    <td>EPL Preview</td>
                    <td>Public</td>
                    <td>10</td>
                    <td>Ronaldo</td>
                    <td class="enter_btn_wrapper"><button class="enter_btn">Enter</button></td>
                </tr>
                <tr>
                    <td>EPL Preview</td>
                    <td>Public</td>
                    <td>10</td>
                    <td>Ronaldo</td>
                    <td class="enter_btn_wrapper"><button class="enter_btn">Enter</button></td>
                </tr>
            </table>
        </div>
        <a id="btn" href="/create_room">Create Chat Room</a>
    </div>
</body>