<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link rel="stylesheet" href="/css/room.css"/>
</head>
<body>
    <div class="container">

        <div id="nav">
            <div id="room">Study Room</div>
            <div id="out"><a>Out</a></div>
            <div class="block"></div>
        </div>

        <div id="content">
            <div class="msg">He entered.</div>
            <div class="left">
                <div class="name-left">Ronaldo</div>
                <div class="content-left">Hello world!!!</div>
            </div>
            <div class="right">
                <div class="name-right">Ronaldo</div>
                <div class="content-right">Hello world!!!</div>
            </div>
            <div class="block"></div>
        </div>
        <div id="input">
            <form>
                <textarea id="textarea"></textarea>
                <input id="img-btn" type="file"/>
                <button id="post-btn">Send</button>
                <div class="block"></div>
            </form>
        </div>
    </div>
</body>